.display-none {
    display: none;
}

.bs-callout-info {
    border-left-color: #1b809e !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.jersey {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #f5f5f5;
}
.avatar img {
    width: 100%;
    height: 100%;
    display: block;
}

table {
    background-color: white;
    box-shadow: 5px 5px 5px;
}

body {
    background: #353a40;
}

tbody {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(-n+1) {
    font-weight: bold;
}

.page-header {
    background-color: white;
}

h2 {
    text-shadow: 1px 1px 5px black;
    color: white;
}

/*override bootstrap */
h2 small {
    color: #e6e6e6;
    padding-left: 10px;
    font-size: 50%;
}

.page-header {
    box-shadow: 5px 5px;
    padding: 5px;
    margin: 0px;
}

.page-header h1 {
    margin: 5px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../res/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.1;
}

/*Jersey colors*/
#polkaMaillot thead {
    background-image: url("../res/polka.png");
    background-attachment: fixed;
}

#yellowMaillot thead {
    background-color: #ffdd00;
}

#greenMaillot thead {
    background-color: #46e800;
}

#radiusMaillot thead {
    background-color: #3a8ecb;
}

/*Radius Rules page*/
.rules-bg {
    background-color: black;
    opacity: 0.3;
    border-radius: 10px;
    height: 650px;
    margin: 30px auto;
}

.rules {
    margin: -700px auto;
    padding: 50px;
    color: white;
    z-index: 10;
}
